.p1 {
    
    background-color : rgb(219, 74, 7);
    border: 1px solid black;
    padding: 3px;
    width: 100px;
    height: 60px;
}
.p1{
color : red;
}
.p2{
    color : red;
}
.p3 {
    background-color: black;
    width: 600px;
    height: 60 px;
    color: white;

}

