header{
    background-color: rgba(31, 8, 53, 0.849);
    height: 60px;
    padding: 10px;
    display: inline-flex;
    font-size: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
header h2{
    text-decoration: underline black;
}

.experience2 h1{
    text-decoration: underline black;
}
.experience2 h2 {
    text-decoration: underline black;

}
nav.menu {
    background-color:rgba(39, 94, 19, 0.76);
    display:block;
    width: 1420px;
    height: 60px;
    box-sizing: border-box;
    margin: 0px 0px ;
    align-items: center;
    text-align: center;
}


ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 2px;
   
}
li {
    margin: 7px;
}
nav a{
    color: #000;
    text-decoration: red;
    display: block;
    text-align: center;
    border: 4px outset rgb(18, 1, 58);
    padding: 4px;
    margin: 4px;
    text-decoration: underline black;

}
body {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

footer{
    background-color: rgba(25, 8, 44, 0.849);
    height: 30px;
    padding: 10px;
    display: inline-flex;
    font-size: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

img{
    width: 270px;
    height: 270px;
    display: left; 
}
.change_lang {
    color: #000;
    display: block;
    box-sizing: content-box;
    border: 4px outset rgb(18, 1, 58);
    padding: 4px;
    margin: 4px;
    width : 60px;
    

}



